#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

h1, h2, h3 {
    color: #004080;
}
.stButton>button {
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
}
